<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body class="justify-center justify-content ">
  <div class=" "> <div class="hidden lg:block sm:hidden md:hidden ">
    <div class="ml-[150px] mt-[100px] flex ">
        <div>
            <h1 class="text-[14px]">Biz haqimizda</h1>
            <h1 class="text-[12px] text-[#8b8e99] mt-[10px]">Topshirish punktlari</h1>
            <h1 class="text-[12px] text-[#8b8e99] mt-[10px]">Vakansiyalar</h1>
        </div>
        <div class="ml-[160px]">
            <h1 class="text-[14px]">Foydalanuvchilarga
            </h1>
            <h1 class="text-[12px] text-[#8b8e99] mt-[10px]"> Biz bilan bogʻlanish
            </h1>
            <h1 class="text-[12px] text-[#8b8e99] mt-[10px]"> Savol-Javob
            </h1>
        </div>
        <div class="ml-[160px]">
            <h1 class="text-[14px]"> Tadbirkorlarga
            </h1>
            <h1 class="text-[12px] text-[#8b8e99] mt-[10px]">
                Uzumda soting
            </h1>
            <h1 class="text-[12px] text-[#8b8e99] mt-[10px]">

                Sotuvchi kabinetiga kirish
                Topshirish punktini ochish</h1>
            <h1 class="text-[12px] text-[#8b8e99] mt-[10px]">

                Topshirish punktini ochish</h1>
        </div>
        <div class="ml-[50px]">
            <h1>Ilovani yuklab olish</h1>
            <div class="flex mt-[10px]">
                <h1 class="text-[12px] flex"><img class="w-[24px] h-[24px]" src="https://img.icons8.com/?size=50&id=30659&format=png&color=ffffff" alt="">
                    AppStore</h1>
                <h1 class="text-[12px] flex ml-[10px]"><img class="w-[24px] h-[24px]" src="https://img.icons8.com/?size=50&id=22988&format=png&color=ffffff" alt="">
                    Google Play
                </h1>
            </div>
            <div class="mt-[10px]">
                <h1>Uzum ijtimoiy tarmoqlarda
                </h1>
                <div class="flex mt-[10px]">         <img class="w-[36px] h-[36px]" src="https://img.icons8.com/?size=50&id=32323&format=png&color=000000" alt="">
                    <img class="w-[36px] h-[36px]" src="https://img.icons8.com/?size=50&id=k4jADXhS5U1t&format=png&color=000000" alt="">
                    <img class="w-[36px] h-[36px]" src="https://img.icons8.com/?size=50&id=118497&format=png&color=000000" alt="">
                    <img class="w-[36px] h-[36px]" src="https://img.icons8.com/?size=50&id=19318&format=png&color=000000" alt="">
                
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-[1240px] h-[2px] bg-[#8b8e99] ml-[120px] mt-[50px] hidden lg:block sm:hidden md:hidden">

</div>
<div class="flex hidden lg:block sm:hidden md:hidden">
    <div class="mt-[10px] h-[60px] ml-[120px] ">
        <h1>Maxfiylik kelishuvi
            Foydalanuvchi kelishuvi
            SHAXSIY MA'LUMOTLARNI QAYTA ISHLASH NIZOMI «UZUM MARKET» MCHJ XK</h1>
    </div>
    <div class="w-[300px] ml-[61px] mt-[10px]">
        <h1 class="text-[11px] text-[#8b8e99]">«2026© XK MCHJ «UZUM MARKET». STIR 309376127. Barcha huquqlar
            himoyalangan»</h1>
    </div>
</div>
</div>

<div class="block lg:hidden sm:block md:block">
    <div>
        <div class="flex ml-[145px]">
            <h1 class="text-[14px]">Biz haqimizda</h1>
            <i class="fa-solid fa-chevron-down"></i>

        </div>
        <div class="w-[90%] h-[2px] bg-[#8b8e99] ml-[20px]  mt-[25px]"></div>
    </div>
    <div class="mt-[25px]">
        <div class="flex ml-[145px]">
            <h1 class="text-[14px]">Foydalanuvchilar</h1>
            <i class="fa-solid fa-chevron-down"></i>

        </div>
        <div class="w-[90%] h-[1px] bg-[#8b8e99] ml-[20px]  mt-[25px]"></div>
    </div>
    <div class="mt-[25px]">
        <div class="flex ml-[145px]">
            <h1 class="text-[14px]">Tadbirkorlar</h1>
            <i class="fa-solid fa-chevron-down"></i>

        </div>

    </div>
    <h1 class="ml-[120px]">Ilovani yuklab olish</h1>
    <div class="flex items-center bg-black text-white w-[40%] p-2 rounded-[10px] ml-[110px] mt-[30px]">
        <img
 src="https://img.icons8.com/?size=50&id=30659&format=png&color=ffffff" alt="">
        <h1>Appstore</h1>
    </div>
    <div class="flex items-center bg-black text-white w-[40%] p-2 rounded-[10px] ml-[110px] mt-[30px]">
        <img src="https://img.icons8.com/?size=50&id=22988&format=png&color=ffffff" alt="">
        <h1>Google play</h1>
    </div>
    <h1 class="ml-[105px] mt-[25px]">Uzum ijtimoyi tarmoqda</h1>
    <div class="flex gap-5 ml-[70px] mt-[20px] items-center">
        <img class="w-[36px] h-[36px]" src="https://img.icons8.com/?size=50&id=32323&format=png&color=000000" alt="">
        <img class="w-[36px] h-[36px]" src="https://img.icons8.com/?size=50&id=k4jADXhS5U1t&format=png&color=000000" alt="">
        <img class="w-[36px] h-[36px]" src="https://img.icons8.com/?size=50&id=118497&format=png&color=000000" alt="">
        <img class="w-[36px] h-[36px]" src="https://img.icons8.com/?size=50&id=19318&format=png&color=000000" alt="">
    </div>
    <div class="text-center gap-5 ml-[70px] mt-[20px] items-center">
        <div>
            <h1 class="text-[10px] mt-[20px]">Maxviy kelishuvi</h1>
        </div>
        <div>
            <h1 class="text-[10px] mt-[20px]">Foydalanuvchi kelishuvi</h1>
        </div>
        <div>
            <h1 class="text-[15px] mt-[20px]">MALUMOTLARNI QAYTA ISHLASH NIZOMI </h1>
        </div>
    </div>
    <div>
        <div class="flex ml-[145px]">
            <h1 class="text-[14px]">Biz haqimizda</h1>
            <i class="fa-solid fa-chevron-down"></i>

        </div>
        <div class="w-[90%] h-[2px] bg-[#8b8e99] ml-[20px]  mt-[25px]"></div>
    </div>
    <div class="mt-[25px]">
        <div class="flex ml-[145px]">
            <h1 class="text-[14px]">Foydalanuvchilar</h1>
            <i class="fa-solid fa-chevron-down"></i>

        </div>
        <div class="w-[90%] h-[1px] bg-[#8b8e99] ml-[20px]  mt-[25px]"></div>
    </div>
    <div class="mt-[25px]">
        <div class="flex ml-[145px]">
            <h1 class="text-[14px]">Tadbirkorlar</h1>
            <i class="fa-solid fa-chevron-down"></i>

        </div>
</div>
</body>
</html>