{% extends "base.html" %}

{% block content %}
<section>
    <h1 class="ml-[35px] mt-[35px] absolute ">Savollar va javoblar</h1>
    <div class="flex gap-[50px]">
        <div class="mt-[50px] w-[311px]">
            <h3 class="px-[16px] py-[12px]">Royhatdan otish</h3>
            <h3 class="px-[16px] py-[12px]">Qanday qilib ilovada <br> ro'yxatdan o'tish mumkin?</h3>
            <h3 class="px-[16px] py-[12px]">Qanday qilib saytda <br> ro'yxatdan o'tish mumkin?</h3>
            <h3 class="px-[16px] py-[12px]">Uzum ID nima?</h3>
            <h3 class="px-[16px] py-[12px]">Menda uzum Id bormi?</h3>
            <h3 class="px-[16px] py-[12px]">Uzum ID yordamida qanday <br> kirish mumkun?</h3>
            <h3 class="px-[16px] py-[12px]">Uzum ID bilan kirish <br> xavsizmi?</h3>
            <h3 class="px-[16px] py-[12px]">Buyurtmani rasmilashtirish</h3>
            <h3 class="px-[16px] py-[12px]">Qanday buyurtma beriladi</h3>
            <h3 class="px-[16px] py-[12px]">Buyurtma va prokod <br> zaxirasi qanday ishlaydi?</h3>
            <h3 class="px-[16px] py-[12px]">Rasmiylashtirilgan <br> buyurtmaga mahsulotni <br> qanday qo'shish yoki
                olib <br> tashlash mumkin?</h3>
            <h3 class="px-[16px] py-[12px]">Buyurtma qancha muddat <br> saqlanadi?</h3>
            <h3 class="px-[16px] py-[12px]">Rasmiylashtirilgan <br> buyurtmani qanday bekor <br> qilish mumkin?</h3>


        </div>
        <div class="border gap-y-[50px] p-10 ">
            <h1>Ro’yxatdan o’tish</h1>
            <h3>Buyurtmani rasmiylashtirib to’lovni bajarish uchun siz ro'yxatdan o’tishingiz kerak bo'ladi. Uning
                yordamida ma'lumotlarni <br> doimiy ravishda to'ldirishingiz shart bo’lmaydi. Ro'yxatdan o'tish
                vaqti 3 daqiqadan oshmaydi.</h3>
            <h1>Ro’yxatdan o’tish</h1>
            <h3>Buyurtmani rasmiylashtirib to’lovni bajarish uchun siz ro'yxatdan o’tishingiz kerak bo'ladi. Uning
                yordamida ma'lumotlarni <br> doimiy ravishda to'ldirishingiz shart bo’lmaydi. Ro'yxatdan o'tish
                vaqti 3 daqiqadan oshmaydi.</h3>

            <h1>Ro’yxatdan o’tish</h1>
            <h3>Buyurtmani rasmiylashtirib to’lovni bajarish uchun siz ro'yxatdan o’tishingiz kerak bo'ladi. Uning
                yordamida ma'lumotlarni <br> doimiy ravishda to'ldirishingiz shart bo’lmaydi. Ro'yxatdan o'tish
                vaqti 3 daqiqadan oshmaydi.</h3>

            <h1>Ro’yxatdan o’tish</h1>
            <h3>Buyurtmani rasmiylashtirib to’lovni bajarish uchun siz ro'yxatdan o’tishingiz kerak bo'ladi. Uning
                yordamida ma'lumotlarni <br> doimiy ravishda to'ldirishingiz shart bo’lmaydi. Ro'yxatdan o'tish
                vaqti 3 daqiqadan oshmaydi.</h3>

            <h1>Ro’yxatdan o’tish</h1>
            <h3>Buyurtmani rasmiylashtirib to’lovni bajarish uchun siz ro'yxatdan o’tishingiz kerak bo'ladi. Uning
                yordamida ma'lumotlarni <br> doimiy ravishda to'ldirishingiz shart bo’lmaydi. Ro'yxatdan o'tish
                vaqti 3 daqiqadan oshmaydi.</h3>

            <h1>Ro’yxatdan o’tish</h1>
            <h3>Buyurtmani rasmiylashtirib to’lovni bajarish uchun siz ro'yxatdan o’tishingiz kerak bo'ladi. Uning
                yordamida ma'lumotlarni <br> doimiy ravishda to'ldirishingiz shart bo’lmaydi. Ro'yxatdan o'tish
                vaqti 3 daqiqadan oshmaydi.</h3>

            <h1>Ro’yxatdan o’tish</h1>
            <h3>Buyurtmani rasmiylashtirib to’lovni bajarish uchun siz ro'yxatdan o’tishingiz kerak bo'ladi. Uning
                yordamida ma'lumotlarni <br> doimiy ravishda to'ldirishingiz shart bo’lmaydi. Ro'yxatdan o'tish
                vaqti 3 daqiqadan oshmaydi.</h3>

            <h1>Ro’yxatdan o’tish</h1>
            <h3>Buyurtmani rasmiylashtirib to’lovni bajarish uchun siz ro'yxatdan o’tishingiz kerak bo'ladi. Uning
                yordamida ma'lumotlarni <br> doimiy ravishda to'ldirishingiz shart bo’lmaydi. Ro'yxatdan o'tish
[7/22/2026 9:27 AM] Kamola Usmonova 8- DMTT: vaqti 3 daqiqadan oshmaydi.</h3>

            <h1>Ro’yxatdan o’tish</h1>
            <h3>Buyurtmani rasmiylashtirib to’lovni bajarish uchun siz ro'yxatdan o’tishingiz kerak bo'ladi. Uning
                yordamida ma'lumotlarni <br> doimiy ravishda to'ldirishingiz shart bo’lmaydi. Ro'yxatdan o'tish
                vaqti 3 daqiqadan oshmaydi.</h3>

            <h1>Ro’yxatdan o’tish</h1>
            <h3>Buyurtmani rasmiylashtirib to’lovni bajarish uchun siz ro'yxatdan o’tishingiz kerak bo'ladi. Uning
                yordamida ma'lumotlarni <br> doimiy ravishda to'ldirishingiz shart bo’lmaydi. Ro'yxatdan o'tish
                vaqti 3 daqiqadan oshmaydi.</h3>
            <h1>Ro’yxatdan o’tish</h1>
            <h3>Buyurtmani rasmiylashtirib to’lovni bajarish uchun siz ro'yxatdan o’tishingiz kerak bo'ladi. Uning
                yordamida ma'lumotlarni <br> doimiy ravishda to'ldirishingiz shart bo’lmaydi. Ro'yxatdan o'tish
                vaqti 3 daqiqadan oshmaydi.</h3>





        </div>

    </div>
</section>
{% endblock %}