<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body style="background-image: url(https://seller.uzum.uz/_nuxt/signin-background.HNO-80T7.svg); 
background-position: 900px; width: 1500px; " class="bg-[#b0b0bd]">
    <div class="flex pt-[10px] ml-[285px]"><img class="w-[40px] h-[40px] rounded-[5px] mt-[10px]"
            src="/starpp/img/unnamed.png" alt="">
        <h1 class="text-[18px] text-[#7000ff]    font-semibold ml-[6px]">uzum <br> seller</h1>
        <div
            class="w-[127px] h-[32px] bg-[#fff] ml-[400px] text-[14px] rounded-[5px] justify-items-center pt-[5px] ml-[20px]">
            <h1>Sotuvchi bo'lish</h1>
        </div>
        <div class="w-[169px] h-[32px] bg-[#fff] rounded-[7px] ml-[10px]  text-black text-[14px] justify-items-center  pt-[5px]"
            ]>
            <h1>Sotuvchi yoriqnomasi</h1>
        </div>
        <div class="flex text-black w-[77px] justify-center  h-[32px] rounded-[5px] bg-[#fff] ml-[10px]">
            <img class="w-[16px] h-[16px] rounded-[100%] mt-[5px] " src="/starpp/img/images.png" alt="">
            <h1>Uz</h1>
            <div class="w-[16px] h-[16px]"><i class="fa-solid fa-angle-down"></i></div>

        </div>
        <div
            class="w-[60px] h-[32px] rounded-[5px] bg-[#7000ff] text-[14px] text-[#000] justify-items-center pt-[5px] ml-[10px] ">
            <h1>Kirish</h1>
        </div>
    </div>
    <div class="w-[394px] h-[604px] bg-[#fff] rounded-[25px] ml-[600px] mt-[20px] pl-[30px] pt-[10px]">
        <h1 class="text-[25px] font-bold">Akkaunt yaratish</h1>
        <p class="text-[14px] text-[#656713] mt-[7px]">Bildirishnoma va tasdiqlash kodlari telefon va <br> elektron
            pochtangizga yuboriladi
        </p> <input class="w-[300px] h-[48px] rounded-[15px] mt-[20px] pl-[20px] ml-[20px] bg-slate-200 " type="text"
            placeholder="Ism">
        <input class="w-[300px] h-[48px] rounded-[15px] mt-[20px] pl-[20px] ml-[20px] bg-slate-200 " type="text"
            placeholder="Biznsizning turi">
        <input class="w-[300px] h-[48px] rounded-[15px] mt-[20px] pl-[20px] ml-[20px] bg-slate-200 " type="text"
            placeholder="Telefon">
        <input class="w-[300px] h-[48px] rounded-[15px] mt-[20px] pl-[20px] ml-[20px] bg-slate-200 " type="text"
            placeholder="Elektron pochta">
        <input class="w-[300px] h-[48px] rounded-[15px] mt-[20px] pl-[20px] ml-[20px] bg-slate-200 " type="text"
            placeholder="Parol">
        <div
            class="w-[330px] h-[56px] bg-[#7000ff] text-center text-[#fff] rounded-[20px] text-[16px] font-bold pt-[10px] mt-[20px]">
            <h1>Davom etish</h1>
        </div>

        <h1 class="text-[12px] text-[#656773] text-center">Tugmani bosish orqali siz <br>
            <div class="flex ml-[50px]">
                <h1 class="text-[12px] text-[#7000ff]">Oferta shartnomasi </h1>
                va <h1 class="text-[12px] text-[#7000ff]"> Maxfiylik siyosati </h1> ga rozilik
            </div> bildirasiz
        </h1>




</body>

</html>