<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <section class="bg-[#350071] ">
        <nav class="h-[88px] justify-center gap-50 items-center flex">
            <img class="w-[216px] h-[32px]"
                src="https://promo.uzum.uz/landings/_ipx/_/landings/img/uzum-market-logo.svg" alt="">
            <div class="text-white flex gap-10">
                <button>Topshirish punktini qanday ochish mumkun</button>
                <button>Ochin uchun nima kerak</button>
                <button>Brendbuk</button>
                <div class="flex gap-2 items-center">
                    <img width="24" height="24" src="https://img.icons8.com/color/48/uzbekistan-circular.png"
                        alt="uzbekistan-circular" />
                    <h1>UZ</h1>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
            </div>
        </nav>
        <div class="flex justify-center items-center gap-40">
            <div class="text-white">
                <h1 class="text-[55px] text-white">Uzum Market <br> topshirish <br> punktini oching</h1>
                <h1 class="text-[20px] mt-10 mb-10">Ochilishda va ishning birinchi oylarida moliyaviy <br> jihatdan
                    yordamlashamiz</h1>
                <button class="bg-[#ff0] px-[22px] py-[14px] rounded-xl text-black">Ochilih joyini tanlash</button>
            </div>
            <div>
                <img class="h-[534px] w-[536px]" src="https://promo.uzum.uz/landings/img/pvz/pvz.webp" alt="">
            </div>
        </div>

    </section>
    <section class="bg-[#161616] text-white ">
        <div class="justify-items-center">
            <h1 class="text-[50px] ">Birinchi oydanoq pul ishlashni boshlang</h1>
            <div class="flex gap-10">
                <button class="bg-white py-[8px] px-[12px] text-black rounded-[96px]">Toshkent</button>
                <button class="bg-[#ffffff29] py-[8px] px-[12px] text-white rounded-[96px]">Yirik shaharlar </button>
                <button class="bg-[#ffffff29] py-[8px] px-[12px] text-white rounded-[96px]">Boshqa shahar va
                    qishloqlar</button>
            </div>
        </div>
        <div class="justify-center gap-10 items-center mt-10 flex">
            <div class="bg-[#191919]  p-8 w-[482px] h-[550px] justify-center items-center rounded-xl">
                <h1 class="text-[28px]">Harbir olib ketilgan tovardan </h1>
                <h1 class="text-[200px] ml-10">6%</h1>
                <h1 class="text-[28px] ml-20">daromad</h1>
                <h1 class="text-[#ffffffb3] translate-y-20">lekin har bir tovar uchun kopi bilan 36 000 so'm </h1>
            </div>
            <div class="mt-10">
                <div class="bg-[#191919]  p-8 w-[482px] h-[260px] justify-center items-center rounded-xl mb-10">
                    <h1 class="text-[28px]">Birinchi 6 oyda haqiqiy <br> kafolatlaymiz</h1>
                    <h1 class="text-[50px] ml-10 text-[#ffff00]">17 400 000</h1>
                    <h1 class="text-[28px] ml-20 text-[#ffff00]">so'm oyiga</h1>
                    <h1 class="text-[#ffffffb3] ">bundan kamini topsangiz, farqini tolab beramiz</h1>
                </div>
               <div class="bg-[#191919]  p-8 w-[482px] h-[260px] justify-center items-center rounded-xl mb-10">
                    <h1 class="text-[28px]">Ochilih bonusi</h1>
                    <h1 class="text-[50px] ml-10 text-[#ffff00]">6 100 000</h1>
                    <h1 class="text-[28px] ml-20 text-[#ffff00]">so'm </h1>
                    <h1 class="text-[#ffffffb3] ">topshirish punktini 26 kunda bitsa<h1>
                </div>
            </div>
        </div>
    </section>
    <div class="bg-[#e4e6eb] font-bold">
        <div class="">
            <div class="text-[50px] w-[700px] pl-[400px]">
                <h1 class="text-[50px] font-bold w-[700px] text-center">O‘z topshirish punktingizni ochish — oson</h1>
            </div>
            <div class="flex items-center justify-center gap-[70px]">
                <div class="flex bg-[#ffffff] w-[890px] rounded-[20px] h-[230px]">
                    <div class="ml-[30px]">
                        <h3 class="text-[35px]  mt-[30px]">Помогаем на старте</h3>
                        <p class="text-[18px] mt-[10px] text-[#656773]">Дадим готовое ПО, обучим сотрудников и подарим
                            дизайн-проект</p>
                    </div>
                    <img class="mr-[-40px] w-[307px] h-[307px] mt-[-50px]"
                        src="https://promo.uzum.uz/landings/img/pvz/rocket.avif" alt="">
                </div>
                <div class="bg-[#ffffff] w-[300px] rounded-[20px] h-[230px]">
                    <div class="ml-[30px]">
                        <h3 class="text-[28px]  mt-[30px]">Минимальные
                            вложения</h3>
                        <p class="text-[18px] mt-[10px] text-[#656773]">На старте — только ремонт вашего помещения</p>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-center mt-[30px] gap-[70px]">
                <div class="bg-[#ffffff] w-[300px] rounded-[20px] h-[230px]">
                    <div class="ml-[30px]">
                        <h3 class="text-[28px] mt-[30px]">Быстрый запуск</h3>
                        <p class="text-[18px] mt-[10px] text-[#656773]">Два месяца — от заявки
                            до выдачи первого заказа</p>
                    </div>
                </div>
                <div class="flex bg-[#ffffff] w-[890px] rounded-[20px] h-[230px]">
                    <div class="ml-[30px]">
                        <h3 class="text-[35px] mt-[30px]">Никаких скрытых платежей</h3>
                        <p class="text-[18px] mt-[10px] text-[#656773]">Работаем строго по контракту</p>
                    </div>
                    <img class="ml-[199px] w-[224px] h-[224px] mt-[-10px]"
                        src="https://promo.uzum.uz/landings/img/pvz/coins.avif" alt="">
                </div>
            </div>
        </div>
    </div>

    <h1 class="text-[50px] mt-[50px] ml-[450px] font-semibold">Bizga ishonishning sabablari</h1>
    <div class="flex">
        <div class="w-[631px] h-[494px]  bg-[#1f2026] rounded-[25px] ml-[150px] mt-[50px] pt-[15px] pl-[30px]">
            <h1 class="text-[60px] text-[#ffdd55] font-bold "></h1>23 000 000</h1>
            <h2 class="text-[24px] mt-[10px] text-[#fff]">Bir yilda berilgan buyurtmalar</h2> <img
                class="mt-[35px] ml-[200px]" src="https://promo.uzum.uz/landings/img/pvz/box-with-tape.avif" alt="">
        </div>
        <div>
            <div class="w-[631px] h-[230px]  bg-[#1f2026] rounded-[25px] ml-[50px] mt-[50px] pt-[15px] pl-[30px]">
                <h1 class="text-[60px] text-[#ffdd55] font-bold ">> 17 000 000</h1>
                <h2 class="text-[24px] mt-[50px] text-[#fff]">Uzum Market’dagi faol sotuvchilar</h2>
            </div>
            <div class="flex">
                <div class="w-[303px] h-[240px]  bg-[#1f2026] rounded-[25px] ml-[50px] mt-[30px] pt-[15px] pl-[30px]">
                    <h1 class="text-[60px] text-[#ffdd55] font-bold "> 1823</h1>
                    <h2 class="text-[24px] mt-[50px] text-[#fff]">topshirish punktlari <br> va do‘konla</h2>
                </div>
                <div class="w-[303px] h-[240px]  bg-[#1f2026] rounded-[25px] ml-[50px] mt-[30px] pt-[15px] pl-[30px]">
                    <h1 class="text-[60px] text-[#ffdd55] font-bold "> 436</h1>
                    <h2 class="text-[24px] mt-[50px] text-[#fff]">aholi punktlari</h2>
                </div>
            </div>
        </div>
    </div>
    <h1 class="text-[50px] mt-[50px] ml-[50px] font-semibold text-center">Topshirish punktingiz uchun
        <br>joy tanlang
    </h1>
    <img class="ml-[180px] mt-[50px] rounded-[50px]" src="https://upload.wikimedia.org/wikipedia/commons/4/44/Relief_Map_of_Uzbekistan.png"
        alt="">


<div class="ml-[180px]">
        <h1 class="font-bold text-[60px] flex items-center justify-center">Boshlash uchun nima kerak</h1>
        <div class="flex">
            <div class="">
                <div class="w-[631px] h-[520px] rounded-[15px]"
                    style="background-color: #6700E2; width: 631px;  background-image: url(https://promo.uzum.uz/landings/img/pvz/bg_delivery.png);">
                    <div class="ml-[30px]">
                        <h3 class="text-[45px] font-bold text-[#fff] mt-[30px]">Bino</h3>
                        <p class="text-[21px] w-[100%] text-[#fff] mt-[10px]">20-50 m² oralig‘ida — buyurtmalarni
                            topshirish
                            zonasini joylashtirish va xaridorlarga navbatsiz xizmat ko‘rsatish uchun yetarli</p>
                    </div>
                    <div class="w-[800px] ml-[-80px] mt-[-20px]"><img src="https://promo.uzum.uz/landings/img/pvz/start/logistics.avif" alt=""></div>
                </div>
            </div>
            <div class="">
                <div class="mt-[35px]">
                    <div class="m-[30px] w-[631px] h-[248px] border-[1px] rounded-[16px] flex">
                        <div class="ml-[15px]">
                            <span
                                class="text-[45px] w-[381px] h-[40px] text-black font-bold text-[#fff] mt-[30px] Title1 title"
                                data-v-82689472="">Uskunalar va mebel</span>
                            <p class="text-[21px] text-black w-[400px] text-[#fff] mt-[10px]">Videokameralar,
                                telefon, noutbuk,
                                skaner, stol, stullar va buyurtmalar uchun stellajlar</p>
                        </div>
                        <div class="ml-[15px]">
                            <img class="w-[192px] h-[192px]"
                                src="https://promo.uzum.uz/landings/img/pvz/start/laptop.avif" alt="">
                        </div>
                    </div>
                </div>
                <div class="mt-[15px]">
                    <div class="ml-[30px] w-[631px] h-[248px] border-[1px] rounded-[16px] flex">
                        <div class="ml-[15px]">
                            <span
                                class="text-[45px] w-[381px] h-[40px] text-black font-bold text-[#fff] mt-[30px] Title1 title"
                                data-v-82689472="">Xodim</span>
                            <p class="text-[21px] text-black w-[400px] text-[#fff] mt-[10px]">10:00-20:00 oralig‘ida
                                xaridorlarga buyurtmalarni topshiradigan kishi</p>
                        </div>
                        <div class="ml-[15px]">
                            <img class="w-[240px] h-[240px]"
                                src="https://promo.uzum.uz/landings/img/pvz/start/people.avif" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ml-[140px]">
        <h1 class="font-bold text-[60px]">Topshirish punktingiz qanday ko‘rinishi mumkin</h1>
        <div class="flex items-center justify-center">
            <img class="w-[436px] h-[551px] mr-[40px]" src="https://static.uzum.uz/PVZ/pvz-22.jpg" alt="">
            <img class="w-[936px] h-[651px]" src="https://static.uzum.uz/PVZ/pvz-23.jpg" alt="">
            <img class="w-[436px] h-[551px] ml-[40px]" src="https://static.uzum.uz/PVZ/pvz-24.jpg" alt="">
        </div>
    </div>


<div class="wrap flex mt-[65px]">
        <div class="w-[1206px] h-[348px] bg-[#33006b] rounded-[50px] p-[20px] pl-[30px] ml-[150px]">
            <h1 class="text-[36px] text-[#ffffff] w-[468px] font-bold">Hoziroq daromad topishniboshlang</h1> 
            <p class="text-[18px] text-[#ffffff] w-[468px] mt-[15px]">Balki aynan siz shahringizdagi birinchi Uzum Market topshirish punktini ochasiz!</p> 
            <h2 class="text-[16px] text-[#1f2026] w-[213px] h-[56px] bg-[#ffff00] p-[15px] rounded-[15px] mt-[15px]">Ochilish joyini tanlang</h2>
            <p class="text-[11px] text-[#ffffffb3] w-[468px] mt-[15px]">Davom etib, siz oferta shartlarini qabul qilgan va shaxsiy ma'lumotlarni qayta ishlash siyosatiga rozilik bildirgan bo'lasiz</p>
        </div>
        <div class="justify-center">
            <img class="w-[566px] h-[520px] absolute ml-[-600px] mt-[-80px]" src="https://promo.uzum.uz/landings/img/pvz/pvz.webp" alt="">
        </div>
    </div>

    <div class="">
        <h1 class="text-[50px] text-[#1f2026] mt-[80px] ml-[450px] font-bold">Savollarga javob beramiz</h1>

       <div class="w-[1286px] h-[1020px] bg-[#f0f2f5] rounded-[30px] ml-[150px] mt-[30px] p-[70px]">
    <div class="flex justify-between items-center">
    <h1 class="text-[24px] text-[#1f2026]">BTP noma?</h1>
    <i class="fa-solid fa-angle-down text-[20px]"></i>
</div>
<div class="w-[1185px] h-[1px] bg-[#cbccd1] mt-[10px]"></div>

<div class="flex justify-between items-center mt-[15px]">
    <h1 class="text-[24px] text-[#1f2026]">Topshirish punkiti orqali qanday daromad qilish mumkin?</h1>
    <i class="fa-solid fa-angle-down text-[20px]"></i>
</div>
<div class="w-[1185px] h-[1px] bg-[#cbccd1] mt-[10px]"></div>

<div class="flex justify-between items-center mt-[15px]">
    <h1 class="text-[24px] text-[#1f2026]">Nechta topshirish punkitini ochish mumkin?</h1>
    <i class="fa-solid fa-angle-down text-[20px]"></i>
</div>
<div class="w-[1185px] h-[1px] bg-[#cbccd1] mt-[10px]"></div>

<div class="flex justify-between items-center mt-[15px]">
    <h1 class="text-[24px] text-[#1f2026]">Qaysi binolar topshirish punkitiga mos keladi?</h1>
    <i class="fa-solid fa-angle-down text-[20px]"></i>
</div>
<div class="w-[1185px] h-[1px] bg-[#cbccd1] mt-[10px]"></div>

<div class="flex justify-between items-center mt-[15px]">
    <h1 class="text-[24px] text-[#1f2026]">Yuridik shaxs bo‘lmasdan topshirish punktini ochishim mumkinmi?</h1>
    <i class="fa-solid fa-angle-down text-[20px]"></i>
</div>
<div class="w-[1185px] h-[1px] bg-[#cbccd1] mt-[10px]"></div>

<div class="flex justify-between items-center mt-[15px]">
    <h1 class="text-[24px] text-[#1f2026]">Bino ijaraga olib, unda BTP ochishim mumkinmi?</h1>
    <i class="fa-solid fa-angle-down text-[20px]"></i>
</div>
<div class="w-[1185px] h-[1px] bg-[#cbccd1] mt-[10px]"></div>

<div class="flex justify-between items-center mt-[15px]">
    <h1 class="text-[24px] text-[#1f2026]">Qaysi joylashuvlar BTP uchun mos keladi?</h1>
    <i class="fa-solid fa-angle-down text-[20px]"></i>
</div>
<div class="w-[1185px] h-[1px] bg-[#cbccd1] mt-[10px]"></div>

<div class="flex justify-between items-center mt-[15px]">
    <h1 class="text-[24px] text-[#1f2026]">Ta’mirlash ishlarini qilishim shartmi?</h1>
    <i class="fa-solid fa-angle-down text-[20px]"></i>
</div>
<div class="w-[1185px] h-[1px] bg-[#cbccd1] mt-[10px]"></div>

<div class="flex justify-between items-center mt-[15px]">
    <h1 class="text-[24px] text-[#1f2026]">Ta’mirlash ishlarini qachon boshlash kerak?</h1>
    <i class="fa-solid fa-angle-down text-[20px]"></i>
</div>
<div class="w-[1185px] h-[1px] bg-[#cbccd1] mt-[10px]"></div>

<div class="flex justify-between items-center mt-[15px]">
    <h1 class="text-[24px] text-[#1f2026]">Topshirish punktini ochish uchun qanday texnika va uskunalar kerak?</h1>
    <i class="fa-solid fa-angle-down text-[20px]"></i>
</div>
<div class="w-[1185px] h-[1px] bg-[#cbccd1] mt-[10px]"></div><div class="flex justify-between items-center mt-[15px]">
    <h1 class="text-[24px] text-[#1f2026]">Topshirish punkti qaysi vaqtlarda ishlashi kerak?</h1>
    <i class="fa-solid fa-angle-down text-[20px]"></i>
</div>
<div class="w-[1185px] h-[1px] bg-[#cbccd1] mt-[10px]"></div>

<div class="flex justify-between items-center mt-[15px]">
    <h1 class="text-[24px] text-[#1f2026]">BTPni supermarket yoki boshqa ishlayotgan biznes ichida ochishim mumkinmi?</h1>
    <i class="fa-solid fa-angle-down text-[20px]"></i>
</div>
<div class="w-[1185px] h-[1px] bg-[#cbccd1] mt-[10px]"></div>

<div class="flex justify-between items-center mt-[15px]">
    <h1 class="text-[24px] text-[#1f2026]">Buyurtmalarni qanday qabul qilib, xaridorlarga topshiraman?</h1>
    <i class="fa-solid fa-angle-down text-[20px]"></i>
</div>
<div class="w-[1185px] h-[1px] bg-[#cbccd1] mt-[10px]"></div>

<div class="flex justify-between items-center mt-[15px]">
    <h1 class="text-[24px] text-[#1f2026]">Nega mening arizam tasdiqlanmaydi?</h1>
    <i class="fa-solid fa-angle-down text-[20px]"></i>
</div>
<div class="w-[1185px] h-[1px] bg-[#cbccd1] mt-[10px]"></div>
    </div>






    <div class="w-[100%] h-[358px] bg-[#5e00d6] mt-[60px]   pt-[60px] ">
<div class="flex">     <img class="w-[146px] h-[48px]   ml-[100px]"src="https://promo.uzum.uz/landings/img/uzum-market-logo-mini.svg" alt="">
    <div class="ml-[200px]">
        <h1 class="text-[18px] text-[#fff]">
            Hamkorlar uchun</h1>
        <h1 class="text-[#077aff] text-[14px] font-semibold">Sotuvchi bo'lish</h1>
        <h1 class="text-[#077aff] text-[14px] font-semibold">brendbuk</h1>
    </div>
    <div class="ml-[100px]">
        <h1 class="text-[18px] text-[#fff]">

            Kompaniya</h1>
        <h1 class="text-[#077aff] text-[14px] font-semibold">Oferta shartnomasi</h1>
        <h1 class="text-[#077aff] text-[14px] font-semibold">Maxfiylik siyosati</h1>
    </div></div>
        <div class="w-[168px] h-[56px] bg-[#ffff00] rounded-[15px] text-[16px] pl-[2px] pt-[15px] font-semibold ml-[700px] mt-[150px]"><h1>Ochilish joyini tanlash</h1></div>
    </div>
   
</body>

</html>
